---
title: Data Loading & Initial Inspection
---
# 2. Data Loading & Initial Inspection

In [ ]:
all_data = get_data()

transactions = all_data["transactions"]
demographics = all_data["demographics"]
coupons = all_data["coupons"]
coupon_redemptions = all_data["coupon_redemptions"]

data_summary = pd.DataFrame({
    'Dataset': ['Transactions', 'Demographics', 'Coupon Redemptions', 'Coupons'],
    'Count': [f'{len(transactions):,}', f'{len(demographics):,}', f'{len(coupon_redemptions):,}', f'{len(coupons):,}']
})
display(data_summary.set_index('Dataset'))

                        Count
Dataset
Transactions        1,469,307
Demographics              801
Coupon Redemptions      2,102
Coupons               116,204

In [3]:
print("TRANSACTIONS DATASET")
print("\nColumns:", transactions.columns.tolist())
display(transactions.head())
print(f"\nDate range: {transactions['transaction_timestamp'].min()} to {transactions['transaction_timestamp'].max()}")

TRANSACTIONS DATASET

Columns: ['household_id', 'store_id', 'basket_id', 'product_id', 'quantity', 'sales_value', 'retail_disc', 'coupon_disc', 'coupon_match_disc', 'week', 'transaction_timestamp']

,household_id,store_id,basket_id,product_id,quantity,sales_value,retail_disc,coupon_disc,coupon_match_disc,week,transaction_timestamp
0,900,330,31198570044,1095275,1,0.50,0.00,0.00,0.00,1,2017-01-01 11:53:26
1,900,330,31198570047,9878513,1,0.99,0.10,0.00,0.00,1,2017-01-01 12:10:28
2,1228,406,31198655051,1041453,1,1.43,0.15,0.00,0.00,1,2017-01-01 12:26:30
3,906,319,31198705046,1020156,1,1.50,0.29,0.00,0.00,1,2017-01-01 12:30:27
4,906,319,31198705046,1053875,2,2.78,0.80,0.00,0.00,1,2017-01-01 12:30:27

Date range: 2017-01-01 11:53:26 to 2018-01-01 04:01:20

In [4]:
display(demographics.head(10))

print(demographics.isnull().sum())

   household_id    age     income home_ownership marital_status household_size    household_comp kids_count
0             1    65+     35-49K      Homeowner        Married              2  2 Adults No Kids          0
1          1001  45-54     50-74K      Homeowner      Unmarried              1   1 Adult No Kids          0
2          1003  35-44     25-34K           None      Unmarried              1   1 Adult No Kids          0
3          1004  25-34     15-24K           None      Unmarried              1   1 Adult No Kids          0
4           101  45-54  Under 15K      Homeowner        Married              4     2 Adults Kids          2
5          1012  35-44     35-49K           None        Married             5+     2 Adults Kids         3+
6          1014  45-54     15-24K           None        Married              4     2 Adults Kids          2
7          1015  45-54     50-74K      Homeowner      Unmarried              1   1 Adult No Kids          0
8          1018  45-54     35-49K      Homeowner        Married             5+     2 Adults Kids         3+
9          1020  45-54     25-34K      Homeowner        Married              2  2 Adults No Kids          0

household_id        0
age                 0
income              0
home_ownership    233
marital_status    137
household_size      0
household_comp      0
kids_count          0
dtype: int64

In [5]:
print("COUPON REDEMPTIONS DATASET")
print("\nColumns:", coupon_redemptions.columns.tolist())
display(coupon_redemptions.head())

COUPON REDEMPTIONS DATASET

Columns: ['household_id', 'coupon_upc', 'campaign_id', 'redemption_date']

   household_id   coupon_upc  campaign_id redemption_date
0          1029  51380041013           26      2017-01-01
1          1029  51380041313           26      2017-01-01
2           165  53377610033           26      2017-01-03
3           712  51380041013           26      2017-01-07
4           712  54300016033           26      2017-01-07